.container {
	width: 100%;
	height: 72px;
  display: flex;
	justify-content: space-between;
	align-items: center;
}

.containerLogo {
  display: flex;
	align-items: center;
}

.containerLogo h1 {
	font-size: 1.6rem;
	font-weight: 700;
	color: var(--white);
}

.containerLogo img {
	width: 72px;
	height: 100%;
	object-fit: cover;
}

.hamburger {
	width: 28px;
	height: 28px;
}
