.container {
	z-index: -100;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: var(--oxford-blue);
}

.elipse {
	position: absolute;
	background: var(--cool-gray);
	filter: blur(100px);
}

.elipse1 {
	left: 0%;
	right: 77.36%;
	top: 78.84%;
	bottom: 0%;
}

.elipse2 {
	left: 68.16%;
	right: 0%;
	top: 0%;
	bottom: 74.45%;
}
